* {
  box-sizing: border-box;
  margin: 0;
} 

body {
  height: 100%;
  width: 100%;
  padding: 80px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 20px 20px 0px 20px;
  background-image: linear-gradient(109.6deg, rgba(5, 84, 94, 1) 16%, #bbb 91.1%);
  height: 350px;
  display: flex;
  flex-direction: column;
}

.title, .user-name {
  color: #fff;
  text-align: center;
}

.user-picture {
  display: block;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

.user-image {
  height: 100%;
}

.user-name {

}

.nav-list {
  padding: 0;
  display: flex;
  list-style: none;
  column-gap: 50px;
  margin-top: auto;
}

.nav-list li {
  flex: 1;
  color: #fff;
  font-weight: 700px;
  padding: 5px 0;
}

.nav-list .item-skill {
  border-bottom: 3px solid #fff;
}

.menu-content {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(228, 228, 228);
  padding: 20px;
}

.menu-content .card {
  background-color: #fff;
  display: flex;
  margin-bottom: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  cursor: pointer;
}

.menu-content .card picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  background-color: rgb(240, 240, 240);
}

.menu-content .card picture img {
  width: auto;
  height: 100%;
}

.menu-content .card .with-padding {
  height: 80%;
  width: 80%;
}

.card .card-content {
  padding: 10px;
}

.card .card-content h6 {
  color: rgb(80, 80, 80, 1);
  font-size: 16px;
}

.card .card-content p {
  color: rgb(20, 20, 20, 1);
}